.header {
  background-color: #3498db;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  width: 100%;

  > div {
    h2 {
      text-transform: uppercase;
      color: #fff;
      font-weight: 700;
    }
  }

  > article {
    display: flex;
    align-items: center;
    text-align: center;

    /* Apply common styling to all links within <article> */
    > a, > button {
      @include styledText(1rem, 700); /* Use the same font size (1rem) and weight (700) for all links and buttons */
      @include myButton(8rem, 0.5rem, #ff6b6b, #fff);
      margin-left: 1rem;
      width: auto;
      padding: 0.5rem 1rem; /* Adjust padding as needed */
    }
  }

  // Responsive Styles
  @media screen and (max-width: 768px) {
    padding: .5rem .8rem; // Adjust padding for smaller screens
    > div {
      h2 {
        font-size: .8rem; // Adjust font size for smaller screens
      }
    }
    > article {
      > a, > button {
        font-size: 0.7rem; // Adjust font size for smaller screens
        padding: 0.2rem 0.5rem; // Adjust padding for smaller screens
      }
    }
  }

  // Add more media queries for other screen sizes as needed
}
