.login > section {
  @include container(100%, unset, 2rem); /* Adjusted max-width for responsiveness */
  min-height: 80%;
  /* Remove the background-color for mobile or set it to your desired value */
  
  > form {
    @include flexBox(column, center, flex-start, 2rem);
    @include inputs;

    button {
      @include styledText(1rem, 700); /* Updated font size and weight */
      @include myButton(100%, 1rem, #3498db, #fff); /* Updated button styles for full width */
      margin-top: 2rem; /* Added margin for spacing */
    }
  }

  /* Media query for mobile devices */
  @media (max-width: 767px) {
    padding: 1rem; /* Adjusted padding for better spacing on smaller screens */
    
    > form {
      button {
        margin-top: 1rem; /* Adjusted margin for spacing on smaller screens */
      }
    }
  }
}
